# Sqlite3

In [1]:
import sqlite3

In [3]:
# Creating a database
connection = sqlite3.connect("example.db")

In [4]:
cursor = connection.cursor()

In [7]:
cursor.execute('''
create table if not exists employee(
id int primary key,
fname varchar(20) not null, 
lname varchar(20) not null,
department varchar(10) not null,
salary int(15) not null
)
''')
connection.commit()

In [8]:
cursor.execute('''
insert into employee values (101, "Muhammad", "Awais", "DS", 150000)
''')
connection.commit()

In [17]:
cursor.execute('''
insert into employee values (102, "Rizwan", "Ashiq", "Web", 50000)
''')
connection.commit()

In [18]:
cursor.execute('''
insert into employee values (103, "Murtza", "Saeed", "DM", 10000)
''')
connection.commit()

In [19]:
cursor.execute('select * from employee')
rows = cursor.fetchall()

In [20]:
rows

[(101, 'Muhammad', 'Awais', 'DS', 150000),
 (102, 'Rizwan', 'Ashiq', 'Web', 50000),
 (103, 'Murtza', 'Saeed', 'DM', 10000)]

In [24]:
for row in rows:
    print(row)

(101, 'Muhammad', 'Awais', 'DS', 150000)
(102, 'Rizwan', 'Ashiq', 'Web', 50000)
(103, 'Murtza', 'Saeed', 'DM', 10000)

In [25]:
cursor.execute("update employee set fname='Zeeshan' where id=103")
connection.commit()

In [26]:
rows

[(101, 'Muhammad', 'Awais', 'DS', 150000),
 (102, 'Rizwan', 'Ashiq', 'Web', 50000),
 (103, 'Murtza', 'Saeed', 'DM', 10000)]

In [29]:
cursor.execute("delete from employee where id =103")
connection.commit()

In [31]:
rows

[(101, 'Muhammad', 'Awais', 'DS', 150000),
 (102, 'Rizwan', 'Ashiq', 'Web', 50000),
 (103, 'Murtza', 'Saeed', 'DM', 10000)]