In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your Age: "))
is_new = True
if is_new == False:
    print(f"{name} is {age} years old, not a new Patient")
elif is_new == True:
    print(f"Welcome:  {name} is {age} years old, a new Patient")
else:
    print("Invalid")

Invalid

In [4]:
name = "Awais"
color = input("Enter your favourite Color: ")
print(f"{name} like {color}")

Awais like Pink

In [8]:
birth_year = input("Enter your birth Year: ")
print((type(birth_year)))
current_year = 2025
age = 2025 - int(birth_year)
print(type(age))
print(f"You are {age} years old ")

<class 'str'>
<class 'int'>
You are 25 years old

In [11]:
weight_in_pounds = int(input("Enter your weight is pounds: "))
weight_in_kg = weight_in_pounds * 0.45
print(f"Your weight is {weight_in_kg} kg")

Your weight is 62.550000000000004 kg

In [30]:
# Strings
welcome = "Python's course for biggners"
welcome_1 = '''
Hello Awais 
How are your
        where you live
you are learning python from youtube
'''
print(welcome_1)

Hello Awais
How are your
        where you live
you are learning python from youtube

In [ ]:
print(len(welcome))
print(welcome[0])
print(welcome[::-1])
print(welcome[::2])

28
P
srenggib rof esruoc s'nohtyP
Pto' orefrbgnr

In [ ]:
another = welcome[:]
print(another)

In [45]:
name = "Awais Ashiq"
print(name[1:-1])
print(id(name))

wais Ashi
3113414844656

In [39]:
print(name.upper())
print(name.lower())

AWAIS ASHIQ
awais ashiq

In [46]:
name.find("Ashiq")
name = name.replace("Awais","Muhammad")
print(name)
print(id(name))

Muhammad Ashiq
3113414925104

In [50]:
print("Ashiq" in name)
print(name.find("Ashiq"))

True
9

In [53]:
x=-2.9
print(round(x))
print(abs(x))

-3
2.9

In [58]:
import math

In [62]:
age = int(input("Enter your age: "))
if age <=0 or age >120:
    print("Invalid age Try again:<")
elif age<=10:
    print("You are a kid: ")
elif age<=15:
    print("you are a child: ")
elif age<=25:
    print("You are Adult: ")
elif age>25 or age<=100:
    print("You are very old:")
else:
    print("You are not a human:")

You are very old:

In [68]:
is_hot = False
is_cold = True
if is_hot:
    print("Weather is hot")
    print("Drink enough water:")
elif is_cold:
    print("Weather is cold")
    print("Wear warm cloths:")
else:
    print("It's a lovely day")
    print("Enjoy your day:")

Weather is cold
Wear warm cloths:

In [75]:
house_price = 1000000
cradit_score = True
if cradit_score:
    print("Congrats you got 10% off")
    print(f"Your down payment is ${int(house_price)*0.10}")
else:
    print("You are a Poor you got 20% off ")
    print(f"Your down payment is ${int(house_price)*0.20}$")

Congrats you got 10% off
Your down payment is $100000.0

In [99]:
Ticket = 100
print(f"Current ticket price =${Ticket}")
age = int(input("Enter your age: "))
if age<=0 or age>=100:
    print("Movie is not for you")
elif age<=10:
    print("Hay kid you got 50% off")
    print(f"Your Ticket price is ${(Ticket*(100-50)/100)}")
elif age<=25:
    print("Hay Bro you got 20% off")
    print(f"Your Ticket price is ${(Ticket*(100-20)/100)}")
elif age<=90:
    print("Hay Man you got 10% off")
    print(f"Your Ticket price is ${(Ticket*(100-10)/100)}")
else:
    print("Some thing went wrong try again later: ")

Current ticket price =$100
Hay Man you got 10% off
Your Ticket price is $90.0

In [101]:
(100-10)/100

0.9

In [108]:
# Eligible for loan
income = 800
credit_score = 40

if income >= 1000 and credit_score >= 75:
    print("You have a good credit score.")
    print("Eligible for loan.")
    loan = int(input("Enter amount between 1000 to 5000: "))
    if 1000 <= loan <= 5000:
        print(f'{loan} has been added to your account üôÇ')
    else:
        print("Invalid amount.")

elif income >= 800 and credit_score >= 65:
    print("You have a medium credit score.")
    print("Eligible for loan.")
    loan = int(input("Enter amount between 1000 to 3000: "))
    if 1000 <= loan <= 3000:
        print(f'{loan} has been added to your account üôÇ')
    else:
        print("Invalid amount.")

else:
    print("Not eligible for loan üòî")
    print("Try again!")

Not eligible for loan üòî
Try again!

In [111]:
high_income = True
high_CS = False
if high_income and high_CS:
    print("Congrats:)")
    print("Eligible for loan:")
else:
    print("Sorry:(")
    print("Try Again:")

Sorry:(
Try Again:

In [112]:
high_income = True
high_CS = False
if high_income or high_CS:
    print("Congrats:)")
    print("Eligible for loan:")
else:
    print("Sorry:(")
    print("Try Again:")

Congrats:)
Eligible for loan:

In [116]:
name = input("Enter your name: ")
if len(name)<=3:
    print("Name is too small")
elif len(name)>=30:
    print("Name is too large: ")
else:
    print("Name looks good:")

Name is too large:

In [120]:
weight = int(input("Enter your weight: "))
option = input("select k for KG or l for lbs: ").lower()
if option == 'k':
    print(f"Your weight in pounds is {weight/0.45} lbs")
elif option =='l':
    print(f"Your weight in KG is {weight*0.45} KG")
else:
    print("Invalid Input!")

Invalid Input!

## loops

In [124]:
while(True):
    name = input("Enter your name: ").lower()
    if name == "awais":
        print(name)
        break
    else:
        print("invalid name. Try again")

invalid name. Try again
awais

In [149]:
import random

rn = random.randint(1, 5)
life = 3

while True:
    guess = int(input("Enter a number between 1 to 5: "))
    
    if guess == rn:
        print(f"üéâ You won! correct number is {guess}")
        print(f"Lives remaining: {life}")
        break
    else:
        life -= 1
        print("‚ùå Wrong guess! Try again.")
        print(f"Lives left: {life}")
        
        if life == 0:
            print("üíî You lost!")
            print(f"The correct number was: {rn}")
            break

‚ùå Wrong guess! Try again.
Lives left: 2
üéâ You won! correct number is 1
Lives remaining: 2

In [143]:
i=1
while(i<=5):
    print(i*"*")
    i+=1

*
**
***
****
*****

In [ ]:
instructions = '''
start -- To start the car
stop  -- To stop the car
quit  -- To quit the game
help  -- To show this help message
'''

start = False

while True:
    command = input("Enter your operation: ").lower()

    if command == 'help':
        print(instructions)

    elif command == 'start':
        if start:
            print("üöó Car is already started.")
        else:
            print("üöó Car has started...")
            start = True

    elif command == 'stop':
        if start:
            print("üõë Car has stopped.")
            start = False
        else:
            print("‚ùó You need to start the car first.")

    elif command == 'quit':
        print("üëã Game has ended. Bye!")
        break

    else:
        print("‚ùì I don't understand that command. Type 'help' to see available options.")

start -- To start the car
stop -- To stop the car
quit -- To quit the game

You need to start the car to stop
Car has started:------
Car already started
Car has stoped
Car already started
Car already started
Game has ended:

In [ ]:
Balance = 0
name = "awais"
password = 'awais123'

while True:
    user_name = input("Enter your username: ").lower()
    user_password = input("Enter your password: ").lower()

    if user_name == name and user_password == password:
        print("‚úÖ Login Successful!")

        while True:  # inner loop for banking menu
            print('''
----- UBL Bank Menu -----
1: Add Money
2: Withdraw Money
3: Show Balance
4: Quit
--------------------------
''')
            choice = input("Enter your Choice (1-4): ")

            if choice == '1':
                try:
                    amount = int(input("Enter the amount to add: "))
                    if amount <= 0:
                        print("‚ùå Enter a valid positive amount.")
                    else:
                        Balance += amount
                        print(f"üí∞ {amount} has been added to your account.")
                except:
                    print("‚ùå Please enter a valid number.")

            elif choice == '2':
                try:
                    amount = int(input("Enter the amount to withdraw: "))
                    if amount <= 0:
                        print("‚ùå Enter a valid positive amount.")
                    elif amount <= Balance:
                        Balance -= amount
                        print(f"üí∏ {amount} has been withdrawn.")
                    else:
                        print("‚ùå Insufficient balance.")
                except:
                    print("‚ùå Please enter a valid number.")

            elif choice == '3':
                print(f"üíº Your Total Balance is: {Balance}")

            elif choice == '4':
                print("üëã Thanks for using UBL! Have a great day.")
                break  # Exit inner menu loop

            else:
                print("‚ùå Invalid choice. Please select from 1 to 4.")

        break  # Exit login loop after quitting the menu

    else:
        print("‚ùå Invalid username or password.")
        print("üîÅ Try Again...\n")

In [6]:
for i in 'Awais':
    print(i)
for i in range(10):
    print(i, end=' ')
for i in range(1,21):
    if i %2==0:
        print(i)
    else:
        pass

A
w
a
i
s
0 1 2 3 4 5 6 7 8 9 2
4
6
8
10
12
14
16
18
20

In [1]:
malty = 100
syb = 250
kyly = 150
Amm = 300

total = 0
while True:
    print("1: malty | 2: syb | 3: kyly | 4: Amm | 5: Show Total | 6: Quit shopping")
    choice = input("Enter your choice: ")
    
    if choice == "1":
        print("‚úÖ malty has been added")
        total += malty
    elif choice == "2":
        print("‚úÖ syb has been added")
        total += syb
    elif choice == "3":
        print("‚úÖ kyly has been added")
        total += kyly
    elif choice == "4":
        print("‚úÖ Amm has been added")
        total += Amm
    elif choice == "5":
        print(f"üßæ Your total amount is Rs. {total}")
    elif choice == "6":
        print("üõí Thank you for shopping! Bye.")
        break
    else:
        print("‚ùå Invalid choice! Please choose from 1 to 6.")

1: malty | 2: syb | 3: kyly | 4: Amm | 5: Show Total | 6: Quit shopping
‚ùå Invalid choice! Please choose from 1 to 6.
1: malty | 2: syb | 3: kyly | 4: Amm | 5: Show Total | 6: Quit shopping
üßæ Your total amount is Rs. 0
1: malty | 2: syb | 3: kyly | 4: Amm | 5: Show Total | 6: Quit shopping
‚úÖ malty has been added
1: malty | 2: syb | 3: kyly | 4: Amm | 5: Show Total | 6: Quit shopping
‚úÖ malty has been added
1: malty | 2: syb | 3: kyly | 4: Amm | 5: Show Total | 6: Quit shopping
‚úÖ syb has been added
1: malty | 2: syb | 3: kyly | 4: Amm | 5: Show Total | 6: Quit shopping
üßæ Your total amount is Rs. 450
1: malty | 2: syb | 3: kyly | 4: Amm | 5: Show Total | 6: Quit shopping
üõí Thank you for shopping! Bye.

In [3]:
for i in range(4):
    for j in range(4):
        print(f'({i},{j})')

(0,0)
(0,1)
(0,2)
(0,3)
(1,0)
(1,1)
(1,2)
(1,3)
(2,0)
(2,1)
(2,2)
(2,3)
(3,0)
(3,1)
(3,2)
(3,3)

# List

In [10]:
l = [5,2,5,2,2]
for i in l:
    print(i*"x")
print(" ")
l = [2,2,2,2,6]
for i in l:
    print(i*"x")

xxxxx
xx
xxxxx
xx
xx

xx
xx
xx
xx
xxxxxx

In [ ]:
#find the max
L = [10,20,30,40,50]
max = L[0]
for i in L:
    if i>max:
        max = i
print(max)

50

In [23]:
L2d = [1,2,3,4,[10,20,30,40],5,6,7,8,9]
print(len(L2d))
print(L2d[4])
print(L2d[4][2])

10
[10, 20, 30, 40]
30

In [28]:
metrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(metrix)
print(metrix[2][-1])
print(metrix[1])
print(metrix[0][1:])

for rows in metrix:
    for items in rows:
        print(items)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
9
[4, 5, 6]
[2, 3]
1
2
3
4
5
6
7
8
9

In [39]:
l2 = [1,1,2,3,4,5,5,5,5,6,7,8,9,90]
print(l2.count(5))
print(0 in l2)
l2.pop()
l2
print(l2.index(5))
l2.insert(0,100)
l2
l2.sort()
print(l2)
l2.reverse()
print(l2)

4
False
5
[1, 1, 2, 3, 4, 5, 5, 5, 5, 6, 7, 8, 9, 100]
[100, 9, 8, 7, 6, 5, 5, 5, 5, 4, 3, 2, 1, 1]

In [36]:
l2.clear()
l2

[]

In [ ]:
#Remove Duplicates
new_list = []
for i in l2:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[100, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Tuples

In [5]:
tpl = (10,20,30)
x,y,z = tpl
multipul = x*y*z
print(multipul)
print(x)
print(z)

6000
10
30

In [7]:
person_detail = {
    "name":["Awais","Ahmad","Sufyan","Umair","Hamza"],
    "Roll.No":[78,67,70,45,58],
    "Salary":[3000,2000,5000,1000,5000]
}
print(person_detail.keys())
print(person_detail.values())

dict_keys(['name', 'Roll.No', 'Salary'])
dict_values([['Awais', 'Ahmad', 'Sufyan', 'Umair', 'Hamza'], [78, 67, 70, 45, 58], [3000, 2000, 5000, 1000, 5000]])

In [10]:
print(person_detail.get('name'))
print(person_detail.get('Salary'))

['Awais', 'Ahmad', 'Sufyan', 'Umair', 'Hamza']
[3000, 2000, 5000, 1000, 5000]

In [11]:
person_detail['is_active']=True

In [12]:
print(person_detail)

{'name': ['Awais', 'Ahmad', 'Sufyan', 'Umair', 'Hamza'], 'Roll.No': [78, 67, 70, 45, 58], 'Salary': [3000, 2000, 5000, 1000, 5000], 'is_active': True}

In [13]:
maping = {
    '1':'one',
    '2':'two',
    '3':'three',
    '4':'four',
    '5':'five',
    '6':'six',
    '7':'seven',
    '8':'eight',
    '9':'nine',
    '0':'zero'
}
output = ""
phone = input("Enter your phone number: ")
for char in phone:
    output+=maping.get(char)+" "

print(output)

zero three one nine one one eight seven zero three three

In [3]:
maping_1 = {
    ":)":'üòä',
    ":(":"üòû",
    ":()":"üòÅ"
}
msg = input("Enter your message: ")
words = msg.split(" ")
output = ''
for i in words:
    output+=maping_1.get(i,i)
print(output)

üòÅ

# Functions

In [4]:
def student_name(fname, lname):
    print(fname, lname)
student_name("Muhammad", "Awais")

Muhammad Awais

In [6]:
def evenOdd(n):
    '''This is about the Docstring'''
    if n%2==0:
        print(f"{n} is Even:")
    else:
        print(f"{n} is Odd:")

print(evenOdd.__doc__)

This is about the Docstring

In [8]:
def fun(*args):
    for i in args:
        print(i)
fun("hello", 25, 3.5, True)

hello
25
3.5
True

In [11]:
def myfun(**kwargs):
    for keys, values in kwargs.items():
        print(keys, values)

myfun(name='Muhammad Awais', age=25, cgpa=3.5)

name Muhammad Awais
age 25
cgpa 3.5

In [12]:
def swaping(x,y):
    temp=x
    x=y
    y=temp
    return x,y
swaping(10,20)

(20, 10)

In [15]:
def evenOdd(n):
    if n%2==0:
        print(f"{n} is Even")
    else:
        print(f"{n} is Odd")
evenOdd(10)

10 is Even

In [14]:
def fectorial(n):
    if n==0:
        return 1
    else:
        return n*fectorial(n-1)
fectorial(5)

120

In [22]:
# lambda
sqr = lambda x:x**2
print(sqr(4))

evnod = lambda x: x%2==0
print(evnod(10))

n = lambda x:"Positive" if x>0 else "Negitive" if x<0 else "Zero"
print(n(10))
print(n(0))
print(n(-10))

16
True
Positive
Zero
Negitive

In [27]:
l = [1,4,7,8,10,20,13]
even = filter(lambda x:x%2==0,l)
print(list(even))

[4, 8, 10, 20]

In [31]:
def outer():
    x=10
    def inner():
        nonlocal x
        x+=5
        return x
    return inner
clouser = outer()
print(clouser())
print(clouser())

15
20

In [32]:
def fun(a,b=[]):
    b.append(a)
    return b
print(fun(1))
print(fun(2))

[1]
[1, 2]

In [7]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

first = second = third = float('-inf')  # very small number

for i in l:
    if i > first:
        third = second
        second = first
        first = i
    elif i > second and i != first:
        third = second
        second = i
    elif i > third and i != second and i != first:
        third = i

print("Third largest number is:", third)

Third largest number is: 7

In [12]:
l=[1,2,2,3,4,5,1,6,5,6,4,3,2]
new_l = []
for i in l:
   if i not in new_l:
    new_l.append(i)


print(new_l)

[1, 2, 3, 4, 5, 6]

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list=[]
# l[::-1]
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
def factorial(n):
    fact=1
    if n==0:
        return 1
    else:
        for i in range(1,n+1):
            fact = fact*i
        return fact
factorial(5)

120

In [13]:
l=[1,2,3,4,5]

sum=0
for i in l:
    sum+=i
print(sum)

multipul=1
for i in l:
    multipul*=i
print(multipul)

for i in l:
    for j in l:
        print(f"({i},{j})", end="")

15
120
(1,1)(1,2)(1,3)(1,4)(1,5)(2,1)(2,2)(2,3)(2,4)(2,5)(3,1)(3,2)(3,3)(3,4)(3,5)(4,1)(4,2)(4,3)(4,4)(4,5)(5,1)(5,2)(5,3)(5,4)(5,5)

In [16]:
number=1234
# print(type(number))
string = str(number)
print(type(string))
print(string)

<class 'str'>
1234

In [21]:
a=[1,2,3,4,5]
b=[2,3,4,5,6]
for i in a:
    for j in b:
        if i<j:
            print(f"({i},{j})", end="")

(1,2)(1,3)(1,4)(1,5)(1,6)(2,3)(2,4)(2,5)(2,6)(3,4)(3,5)(3,6)(4,5)(4,6)(5,6)

In [25]:
l=[1,2,3,4,5]
for i in range(1, len(l)//2):
    other =len(l)-i-1
    temp=l[i]
    l[i]=l[other]
    l[other]=temp

print(l)

[1, 4, 3, 2, 5]